Source: lliurex-store
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: M.Angel Juan <m.angel.juan@gmail.com>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, Juanma Navarro <juanma1980@gmail.com>, Juan Ramon Pelegrina <juapesai@hotmail.com>
Build-Depends: llxsrchelper,debhelper (>= 7.0),python3-all, dh-python,python3-poinstaller, node-marked-man
Standards-Version: 4.1.4
X-Python3-Version: >= 3.5
Homepage: http://lliurex.net

Package: lliurex-store
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-lliurex-store (= ${binary:Version}), python3-html2text,lliurex-store-blacklist,lliurex-store-common (= ${binary:Version}),gir1.2-webkit2-4.0,python3-gi-cairo
Description: LliureX Software Store

Package: lliurex-store-common
Architecture: all
Depends: ${misc:Depends}
Description: LliureX Software Store common files
Conflicts: lliurex-store (<< 0.5.4)
Breaks: lliurex-store (<< 0.5.4)
Replaces: lliurex-store (<< 0.5.4)

Package: python3-lliurex-store
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, gir1.2-appstreamglib-1.0 (>=0.7.7-2), appstream (>=0.12.0-3), libappstream4 (>=0.12.0-3),python3-bs4,gir1.2-snapd-1(>=1.41),libsnapd-glib1(>=1.41),python3-psutil,gir1.2-flatpak-1.0
Description: Libs for the LliureX Software Store

